.search {
  &__input {
    border-radius: 3px;
    border: 1px solid #CED0DB;
    background: var(--white);
    box-sizing: border-box;
    border-color: #ced0db;
    border-width: 1px;
    border-style: solid;
    height: 36px;
    width: 240px;
    padding: 0 0 0 10px;
  }

  &__button {
    border: 1px solid var(--button-secondary);
    border-radius: 3px;
    background: var(--button-secondary);
    height: 36px;
    width: 73px;
    color: var(--white);
    margin: 0 0 20px 12px;
  }
}
